$component: "island";

.#{$component} {
  padding: 20px;
  border-radius: 1rem;
  background-color: #66afe9;
  &__item {
    padding: 1rem;
    cursor: pointer;
    transition: background-color 200ms ease-in-out;

    & + & {
      border-top: 1px solid $border-color;
    }
    &:hover:not(.#{$component}__item_active) {
      background-color: #1889e6;
    }
    &_active {
      background-color: rgb(63, 35, 223);
    }
  }
}
.scroll {
  position: relative;
  background-color: #3f86c0;
  padding-bottom: 30px;
  max-height: 700px;
  overflow-y: auto;
}
