$component: "island";

.#{$component} {
  padding: 20px;
  border-radius: 1rem;
  background-color: #d89c1b;
  &__item {
    padding: 1rem;
    cursor: pointer;
    transition: background-color 150ms ease-in-out;

    & + & {
      border-top: 1px solid $border-color;
    }
    &:hover {
      background-color: rgb(77, 109, 196);
    }
  }
}
.checked {
  background-color: coral;
}
.scroll {
  position: relative;
  background-color: #d89c1b;
  padding-bottom: 30px;
  max-height: 700px;
  overflow-y: auto;
}
